{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Parent</title>
        <link rel="icon" href="{% static 'img/logo.png' %}" />
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
</head>
<body>
<div class="containerp">
        <div class="wrapper1">
            <div class="primary_heading--block">
                <h2 class="primary_heading">
                    <span class="primary_heading--main">
                        Add Parent
                    </span>
                    <span class="close" onclick='window.history.go(-1);' >&times;</span>
                </h2>
            </div>

            <form id="regForm" method="post" action="" >
                {% csrf_token %}
                <hr>
                <div class="tab">
                       {% if messages %}
                            <ul class="messages1">
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                    <div class="input_text--block">
                        <label class="username">Client name</label>
                        <input type="text" class="input_user" name ="client" placeholder="Enter Client Company">
                    </div>
                    <div class="input_text--block">
                        <select name="parent_company" id="">
                            {% for i in data %}
                            <option value="{{i.parent}}" >
                                {{i.parent}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                       <div class="input_text--block">
                        <select name="country" id="">
                            <option value="India">I</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="btn--block">
                    <a href="" class="btn btn_cancel" onclick='window.history.go(-1);'>Cancel</a>
                    <button type="submit" class="btn btn_create">Create Client</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>