
{% include 'addparent/addParent.html' %}

<div class="table" >
    <table id="myTable" >
        <input type="text" id="myInput" onkeyup="myFunction()"
               placeholder="Search" title="Type in a name">
        <thead>
            <tr class="header">
                <th>Parent Company</th>
                <th>State</th>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for i in datas %}
            <tr>
                <td>{{i.parent}}</td>
                <td>{{i.state}}</td>
                <td class="btn_c">
                    <div class="dropdown md">
                        <button class="btn_hover" style="border-left:1px solid #0d8bf2">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="{% url 'createcompany/edit-parent' i.id  %}">Edit Parent</a>
                        </div>
                    </div>
                </td>

            </tr>
         {% endfor %}
        </tbody>
      </table>
    <div class="pagination">
        {% if datas.has_previous %}
            <a href="?page={{ datas.previous_page_number }}">&#8592; previous</a>
        {% endif %}

        {% if datas.has_next %}
            <a href="?page={{ datas.next_page_number }}" class="left">next &#8594;</a>
        {% endif %}
    </div>

</div>

<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
<script>
    const btn = document.querySelector(".btn");
    console.log(btn);
    document.querySelector(".btn").addEventListener('change', function () {
        document.querySelector('.div_link').style.display='block';
    });
    
</script>