{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NUS TTS System | {% block title %}Index{% endblock %}</title>
    <link rel="icon" href="{% static 'img/logo.png' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/usermanagement.css' %}">
    <script src="{% static 'js/active.js' defer % }"></script>
</head>
<body>

  <div class="container">
    {% block passwordcontent %}
    {% endblock %}
  </div>
{% include 'sidebar.html' %}

  <div class="content">
    {% block content %}
    {% endblock %}
  </div>

<div class="contentuser">
    {% block User %}
    {% endblock %}
</div>
</body>

 <script src="{% static 'js/active.js' %}" ></script>
<!--<script src="{% static 'js/a.js' %}" defer></script>-->
</html>