
{% include 'usermanagement/usermanagement.html' %}

<style>
    .table {
        margin: 5rem 0 0 35rem;
        border: 1px solid skyblue;
        width: 70%;
    }

    #myTable {
        width:100%;
    }
    #myInput {
        width:100%;
        height: 4rem;
        padding: 0 1rem;
        border:1px solid skyblue;
    }

    .header th, td{
        border: 1px solid skyblue;
    }

    th, td {
        font-size:1.4rem;
    }

      .header  {
        height:5rem;

    }
    td {
       padding: 0 4rem;
        height: 5rem;
    }


    .pagination {
        display: flex;
        justify-content: space-between;
        padding:1rem 2rem;
        border: 1px solid skyblue;
    }
</style>

<div class="table" >
    <table id="myTable" >
        <input type="text" id="myInput" onkeyup="myFunction()"
               placeholder="Search" title="Type in a name">
        <thead>
            <tr class="header">
                <th>Username</th>
                <th>Email</th>
                <th>Parent</th>
                <th>Account Status</th>
                <td></td>
            </tr>
        </thead>
        <tbody>
         {% for i in datas %}
            <tr>
                <td>{{i.username}}</td>
                <td>{{i.email}}</td>
                <td>{{i.parent_role}}</td>
                {% if i.Account_status == 'Invited'%}
                    <td ><span style="padding:4px 10px; Background-color:yellow;">{{i.account_status}}</span></td>
                {% else %}
                    <td ><span style="padding:4px 10px; Background-color:whitesmoke;">{{i.account_status}}</span></td>
                {% endif %}
                <td></td>
            </tr>
         {% endfor %}
        </tbody>
      </table>
    <div class="pagination">
        {% if datas.has_previous %}
            <a href="?page={{ datas.previous_page_number }}">&#8592; previous</a>
        {% endif %}

        {% if datas.has_next %}
            <a href="?page={{ datas.next_page_number }}" class="left">next &#8594;</a>
        {% endif %}
    </div>

</div>

<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>