
{% include 'usermanagement/usermanagement.html' %}

<div class="table" >
    <table id="myTable" >
        <input type="text" id="myInput" onkeyup="myFunction()"
               placeholder="Search" title="Type in a name">
        <thead>
            <tr class="header">
                <th>id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Account Status</th>
                <td></td>

            </tr>
        </thead>
        <tbody>
         {% for i in datas %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.username}}</td>
                <td>{{i.email}}</td>
                {% if i.Account_status == 'Invited'%}
                    <td ><span style="padding:4px 10px; Background-color:yellow;">{{i.account_status}}</span></td>
                {% else %}
                    <td ><span style="padding:4px 10px; Background-color:whitesmoke;">{{i.account_status}}</span></td>
                {% endif %}
                    <td>
                        <div class="dropdown">
                            <button class="btn_hover" style="border-left:1px solid #0d8bf2">
                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                            </button>
                            <div class="dropdown-content">
                                <a href="{% url 'usermanagement/edituser' %}">Edit User</a>
                                <a href="{% url 'usermanagement/moveuser' %}">Move User</a>
                                <a href="{% url 'usermanagement/disableuser' %}">Disable User</a>
                             </div>
                            </div>

                    </td>
            </tr>
         {% endfor %}
        </tbody>
      </table>
    <div class="pagination">
        {% if datas.has_previous %}
            <a href="?page={{ datas.previous_page_number }}">&#8592; previous</a>
        {% endif %}

        {% if datas.has_next %}
            <a href="?page={{ datas.next_page_number }}" class="left">next &#8594;</a>
        {% endif %}
    </div>

</div>

<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>


